.wrapper {
	max-width: 1080px;
	margin: 0 auto;
	position: relative;
}


/*Header*/

header#top {
	background: #fff;
	height: 80px;
}

h1.logo a {
	display: inline-block;
	float: left;
	color: #444;
	line-height: 80px;
	margin: 0 0 0 40px;
	height: 74px;
}

h1.logo a span {
	color: #b6afa9;
}

header#top nav {
	display: inline-block;
	float: right;
	width: auto;
	margin-top: 20px;
	margin-right: 40px;
}

header#top nav ul li {
	display: inline-block;
	float: left;
}

header#top nav ul li a {
	display: inline-block;
	background: none;
	padding:  10px 15px;
	color: #000;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

header#top nav ul li a:hover {
	color: #444;
}

header#top nav ul li a.nav-cta {
	color: #e59361;
	border: 2px solid #e59361;
	border-radius: 999px;
	margin-top: -2px;
	margin-left: 10px;
}


@media only screen and (max-width: 1024px) {
	header#top {
		height: auto;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	h1.logo {
	}
	header#top nav {
		float: none;
		text-align: center;
		width: 100%;
		margin: 20px auto 0 auto;
	}
	header#top nav ul li {
		float: none;
		font-size: 15px;
	}
	h1.logo a {
		display: block;
		float: none;
		margin: 0 auto;
		text-align: center;
	}
}

/*Banner*/

#banner {
	height: 700px;
	background: #F8B109 url(../res-static/images/header-image.jpg) no-repeat center;
	position: relative;
	padding: 1px 0 0 0;
}

#banner .wrapper {
	text-align: center;
	margin-top: 230px;
}

#banner h2 {
	margin: 20px auto 20px auto;
	padding: 0 5%;
	opacity: 0.9;
	color: #fff;
	font-size: 60px;
	text-align: center;
	font-weight: 700;
}

#banner .subtitle {
	font-size: 18px;
	letter-spacing: 0.1emx;
	margin: 0;
	color: #e0dad4;
}

#banner p {
	font-family: 'Droid Serif', Times, Georgia, serif;
	font-style: italic;
	width: 70%;
	margin: 0 auto;
	color: #e0dad4;
	margin-bottom: 40px;
}

#banner .button-2 {
	color: #fff;
}

@media only screen and (max-width: 1024px) {
	#banner h2 {
		font-size: 48px;
		margin-top: 20px;
		padding: 0;
		width: 100%;
	}
	#banner .wrapper {
		margin: 50px auto;
	}
	#banner p {
		width: 90%;
	}
	#banner {
		height: auto;
		padding: 40px 0;
	}
}

.full-width-section {
	text-align: left;
	padding: 100px 0;
	background: url(../res-static/images/full-width-bg.jpg);
	max-height: 870px;
	background-repeat: no-repeat;
	background-position: center;
}

.full-width-section .subtitle {
	color: #b1a492;
	font-size: 18px;
	margin-bottom: 40px;
}

.full-width-section {
	padding: 240px 0;
}

.full-width-section h2 {
	margin-bottom: 40px;
}

.full-width-section p {
	font-family: 'Droid Serif', Times, Georgia, serif;
	font-style: italic;
	font-size: 18px;
	color: #777;
	margin-bottom: 50px;
}

.full-width-section .text.align-left {
	float: left;
	width: 60%;
	padding: 0 10% 0 40px;
}

.full-width-section .text.align-right{
	float: right;
	width: 60%;
	padding: 0 40px 0 10%;
}

.full-width-section .text.align-center {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.full-width-section .text.align-center p.subtitle {
	text-align: center;
}

.full-width-section ul.list-checkmarks {
	margin-top: 40px;
}


@media only screen and (max-width: 1024px) {
	.full-width-section {
		padding: 120px 0;
	}
}

@media only screen and (max-width: 720px) {
	.full-width-section .text {
		float: none!important;
		text-align: center;
	}
	.full-width-section .text.align-right, 
	.full-width-section .text.align-left,
	.full-width-section .image.align-right,
	.full-width-section .image.align-left {
		width: 100%;
	}
	.full-width-section .image {
		float: none!important;
		width: 80%!important;
		padding: 0 20px;
		margin: 0 auto 60px auto;
	}
	.full-width-section .text p.subtitle {
		text-align: center;
	}
	.full-width-section h2 {
		font-size: 60px;
	}
}

@media only screen and (max-width: 1024px) {
	.full-width-section {
		padding: 120px 0;
	}
}

@media only screen and (max-width: 720px) {
	.full-width-section .text {
		float: none!important;
		text-align: center;
	}
	.full-width-section .text.align-right, 
	.full-width-section .text.align-left,
	.full-width-section .image.align-right,
	.full-width-section .image.align-left {
		width: 100%;
	}
	.full-width-section .image {
		float: none!important;
		width: 80%!important;
		padding: 0 20px;
		margin: 0 auto 60px auto;
	}
	.full-width-section .text p.subtitle {
		text-align: center;
	}
	.full-width-section h2 {
		font-size: 60px;
	}
}


/* */

.full-width-section .subtitle {
	color: #b1a492;
	font-size: 18px;
	margin-bottom: 40px;
}



.masonry-section {
	text-align: center;
	padding: 100px 0;
	background: #f2f2f2;
}

.masonry {
    margin: 60px auto;
    padding: 0;
    width: 95%;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    text-align: left;
}

.item .summary {
	padding: 10px 30px 30px 30px;
}

.item h4 {
	font-family: 'Droid Serif', Times, Georgia, serif;
	font-size: 28px;
	margin: 12px 0;
	padding: 0;
}

.item .category {
	color: #867a6f;
	font-size: 12px;
}

.item h4:after {
	display: none;
}

.item img.article-image {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.advert-item {
	background: none;
}

.item img.advert {
	border-radius: 10px;
}

@media only screen and (min-width: 480px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 720px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1024px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

