/**
  * Navbar
  */
  .mm-menu li.img:after
  {
    left: 75px !important;
}
.mm-menu li.img a
{
    font-size: 16px;
}
.mm-menu li.img a img
{
    float: left;
    width: 46px;
    height: 46px;
    padding: 4px 2px 0 2px;
    margin: -5px 10px -5px -5px;
    border-radius: 100px;
    opacity: 0.6;
}
.mm-menu li.img a small
{
    font-size: 12px;
}

/**
  * Appbar
  */
  .mui-appbar {
    background-color: #ffffff;
    color: #4f5762;
}

.mui-appbar a {
    color: #4f5762;
}




/**
 * Card
 */
 .img-responsive {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 125px;
    height: auto;
}

.card-example {
    position: relative;
    background-color: #fff;
    margin: 7px 5px;
}

.card-example img {
    width: 100%;
}

.card-example span.title {
    display: inline-block;
    position: absolute;
    bottom: 140px;
    left: 20px;
}

.card-example .label {
    padding: 20px 20px 0;
}

.card-bottom-divider {
    display:block;
    height:1px;
    margin-top:10px;
    background-color:rgba(0,0,0,.12)
}


/**
 * Search Bar
 */


 .registerButton {
    color:#FFF !important;
    background-color:#18C5CB
}

.search {
    /*width: 100%;*/
    width: 440px;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    
    border: 1px solid #CDD1D2;
    padding: 5px;
    height: 20px;
    border-radius: 2px;
    outline: none;
}

#siteSearchBar > div > a{
    color: #fff;
}
/*
.searchTerm:focus{
    color: #18C5CB;
    }*/

    .categoryButton {
        position: absolute;
        left: -145px;
        width: 145px;
        height: 30px;
        line-height: 31px;
        border: 1px solid #9DBFAF;
        background: #18C5CB;
        text-align: center;
        color: #fff;
        border-radius: 2px;
        cursor: pointer;
        font-size: 16px;
    }

    .searchButton {
        position: absolute;
        right: -13px;
        width: 32px;
        height: 32px;
        border: 1px solid #9DBFAF;
        background: #18C5CB;
        text-align: center;
        color: #fff;
        border-radius: 2px;
        cursor: pointer;
        font-size: 20px;
    }

    .mui-btn--primary{
        color: #fff;
        background: #18C5CB;
    }



    .pagination {
      display: inline-block;
      padding-left: 0;
      margin: 20px 0;
      border-radius: 4px;
  }
  .pagination > li {
      display: inline;
  }
  .pagination > li > a,
  .pagination > li > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
      margin-left: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
  }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
  }
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
      z-index: 2;
      color: #23527c;
      background-color: #eee;
      border-color: #ddd;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
      z-index: 3;
      color: #fff;
      cursor: default;
      background-color: #337ab7;
      border-color: #337ab7;
  }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
      color: #777;
      cursor: not-allowed;
      background-color: #fff;
      border-color: #ddd;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
  }
  .pagination-lg > li:first-child > a,
  .pagination-lg > li:first-child > span {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }
  .pagination-lg > li:last-child > a,
  .pagination-lg > li:last-child > span {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }
  .pagination-sm > li > a,
  .pagination-sm > li > span {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
  }
  .pagination-sm > li:first-child > a,
  .pagination-sm > li:first-child > span {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
  }
  .pagination-sm > li:last-child > a,
  .pagination-sm > li:last-child > span {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
  }
  .pager {
      padding-left: 0;
      margin: 20px 0;
      text-align: center;
      list-style: none;
  }
  .pager li {
      display: inline;
  }
  .pager li > a,
  .pager li > span {
      display: inline-block;
      padding: 5px 14px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 15px;
  }
  .pager li > a:hover,
  .pager li > a:focus {
      text-decoration: none;
      background-color: #eee;
  }
  .pager .next > a,
  .pager .next > span {
      float: right;
  }
  .pager .previous > a,
  .pager .previous > span {
      float: left;
  }
  .pager .disabled > a,
  .pager .disabled > a:hover,
  .pager .disabled > a:focus,
  .pager .disabled > span {
      color: #777;
      cursor: not-allowed;
      background-color: #fff;
  }